h1{
    font-family: 'Montserrat-white', sans-serif;
    color: #FFFFF7;
    font-size: 3.5rem;
    line-height: 1.5;
    padding:10% 0;
}
h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}   
h3{
    font-family:  'Fira Sans', sans-serif;
    color:black;
    font-size: 1.5rem;
}
p{
    color: #3c3a3a;
}
.container-fluid{
    padding: 3% 15%;
}
.main-img{
    height: 400px;
    width: 400px;  
}
body{
   font-family: 'Montserrat-white', sans-serif; 
}
#title{
    background-color:  #040404;
}

.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:'Montserrat-white', sans-serif;
}
.navbar-brand{
    font-family:  'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.download-button{
    background-color: white;
    margin: 5% 3% 5% 0; 
}
.bi:hover{
    color: white;
}

.camera-button{
    color: black;
}
.cameraButton{
    height: 200px;
    width: 200px;
}
.sub-btn{
    text-align: center;
    align-self: center;
    
    padding: 0.5% 5%;
    margin-top: 50px;
    font-weight: 50px;
}

/* features title */
#features{
    background-color: white;
    padding: 7% 15%;
    text-align: center;
}
.feature-box1{
    text-align: center;
    padding:5%;  
    padding-right: 15%;
    top: 5px; 
}
.feature-box2{
    text-align: center;
    padding:5%;
    padding-left: 15%;
}

/* results section */
#Results{
    text-align: center;
    background-color: #040404;
    color: #FFFFF7;
    padding: 1.5% 15%;
}
.results-h1{
    font-family: 'Montserrat-white', sans-serif;
    color: #FFFFF7;
    font-size: 2.3rem;
    line-height: 1.3;
    padding: 20px 0;
    font-weight: bolder;
}
.output-img{
    width: 200px;
    height: 200px;
    border-width: 10px 10px;
    border-color: white;
    padding: 10px 0px;
}
.output-name{
    font-family: 'Montserrat-white', sans-serif;
    color: white;
    font-size: 1.3rem;
    
}

/* druginfo */
#druginfo{
    background-color: white;
    padding: 1.5% 15%;
    text-align: center;
}
.druginfo-h1{
    font-family: 'Montserrat-white', sans-serif;
    color: #060600;
    font-size: 2.3rem;
    line-height: 1.3;
    padding: 20px 0;
    font-weight: bolder;
    
}
.uses{
    font-family: 'Montserrat-white', sans-serif;
    font-size: 1.3rem;
    color: #f8f5f5;
    padding: 0px 180px;
    border: 5px;
    border-color: #040404;
    background-color: #040404;
    
}
.doasage-h2{
    font-family: 'Montserrat-white', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #040404;
}
.dosage-p{
    font-family: 'Montserrat-white', sans-serif;
    font-size: 1.3rem;
    color: #f8f5f5;
    padding: 0px 180px;
    border: 5px;
    border-color: #040404;
    background-color: #040404;

}


/* testimonial section */

#testimonials{
    
    text-align: center;
    background-color: #040404;
    color: #FFFFF7;
}
.carousel-item{
    padding: 4% 15%;
}
.developers{
    text-align: center;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 2rem;
    color: #FFFFF7;
    padding: 3% 0%;
}
.testimonial-img{
    width: 30%;
    border-radius:50%;
    margin: 20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.carousel-indicators{
    position:inherit;
    top: 20%;
}
.name{
    color: #bdbaba;
    font-size:20px;
    font-weight: bolder;
    margin-top: 10%;
}

#press{
    background-color: #040404;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}
.price-btn{
    padding: 0.5% 5%;
}
.card-p{
    padding-bottom: 40px;
}
.plan{
 font-weight: bolder;
}

/* cta */
#cta{
    background-color: black;
    text-align: center;
    color: white;
    padding: 7% 15%;
}
.cta-h3{
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    font-family: 'Montserrat-bold', sans-serif;
}

/* footer */
#footer{
    background-color: black;
    text-align: center;
    color: white;
}
.footerdiv{
    padding-bottom: 50px;
}
.copy-p{
    text-align: center;
    color: white;
    margin: 0;
    padding-bottom: 40px;
}
.footer-link1{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
.footer-link2{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
.footer-link3{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
@media (max-width:1000px) {
    #title{
        text-align: center;
    }
    #feature{
        text-align: center;
    }
    .sub-btn{

    }
    .uses{
        padding: 0;
    }
    .dosage-p{
        padding: 0;
    }

}